@model List<Team>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<h1>Index</h1>
<div>
    <a asp-action="Create" asp-controller="team" class="btn btn-success">Create</a>

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Profession</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@item.Name</td>
                <td>@item.Professeion</td>
                <td>
                    <img style="width:200px" src="~/Upload/Teamss/@item.Image" />
                </td>
                <td>
                    <a asp-action="Update" asp-controller="team" asp-route-Id=@item.Id class="btn btn-info">Update</a>
                    <a asp-action="Delete" asp-controller="team" asp-route-Id=@item.Id class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>