@model Team
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>


<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Professeion" class="form-label">Professeion</label>
        <input asp-for="Professeion" class="form-control" placeholder="Professeion">
    </div>
    <div class="mb-3">
        <label asp-for="Facebook" class="form-label">Facebook</label>
        <input asp-for="Facebook" class="form-control" placeholder="Facebook">
    </div>
    <div class="mb-3">
        <label asp-for="Instagram" class="form-label">Instagram</label>
        <input asp-for="Instagram" class="form-control" placeholder="Instagram">
    </div>
    <div class="mb-3">
        <label asp-for="Twiter" class="form-label">Twiter</label>
        <input asp-for="Twiter" class="form-control" placeholder="Twiter">
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">ImageFile</label>
        <input asp-for="ImageFile" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>